@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    word-spacing: 0.5rem;
    font-weight: bold;
    overflow-x: hidden;
    margin: 0;
    h2{
        font-family: "Koulen", sans-serif;}
    p{  
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;}}
/*COMPONENTES*/
@import 'components/navbar';
@import 'components/media';
/*PAGINAS*/
@import 'layouts/autos' ;
@import 'layouts/musica';
@import 'layouts/inicio';
@import 'layouts/contacto';
@import 'layouts/ropa';
