@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Dancing+Script&family=Oswald:wght@200&display=swap');
/*No olvidarme las reglas del font 
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
*/
body{
    word-spacing: 0.5rem;
    font-family:'Oswald', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
    margin: 0;
}
#logo{
    height: 4rem !important;
}
#menu a {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.Inicio:hover{
    scale: 1.15;
    color: hotpink !important;
    transition: 0.2s;
}
.Ropa:hover{
    scale: 1.15;
    color: rgb(89, 102, 205) !important;
    transition: 0.2s;
}
.Musica:hover{
    scale: 1.15;
    color: rgb(255, 238, 0) !important;
    transition: 0.2s;
}
.Autos:hover{
    scale:1.15;
    color: rgb(197, 25, 25) !important;
    transition: 0.2s;
}
.Contacto:hover{
    scale: 1.15;
    color: rgb(196, 78, 246) !important ;
    transition: 0.2s;
}
/*PAGINA DE INICIO*/
.HOME{
    background-image: url(../pages/img/BackgroundPaternHome.jpg);
    padding: 1rem;
}
.carousel-inner{
    display: flex;
    align-items: center;
    overflow-y: hidden;
    max-height: 35rem!important;
}
.SoloTexto h2{
    color:rgb(255, 255, 255) !important;
    text-shadow: 0.1rem 0.1rem 0 black;
    font-family: 'Bebas Neue', sans-serif;
}
.SoloTexto{
    background-color: rgba(202, 35, 194, 0.78);
}
.TextoAutos{
    background-color: rgba(252, 31, 31, 0.646);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 0rem black;
    border: solid 2px rgb(255, 255, 255) ;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0rem black;
    padding: 2rem;
    transition: 0.2s;
}
.SoloTexto , .TextoAutos {
    margin: 0rem 2rem;
    padding: 2rem;
    border: solid 1px grey;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 black;
    transition: 0.3s;
}
.SoloTexto:hover , .TextoAutos:hover{
    box-shadow: 0.7rem 0.7rem 0 black;
}
    
#musica{
    background-color: rgba(213, 224, 0, 0.567);
}
#ropa{
    background-color: rgba(0, 140, 255, 0.648);
}
#autos{
    background-color: rgba(219, 31, 31, 0.729);
}
#contacto{
    background-color: rgba(145, 53, 231, 0.714);
}
#musica ,#ropa, #autos, #contacto {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 0rem black;
    border: solid 2px rgb(255, 255, 255) ;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0rem black;
    padding: 2rem;
    transition: 0.2s;
}
#musica:hover ,#ropa:hover , #autos:hover , #contacto:hover{
    box-shadow: 0.4rem 0.4rem 0rem black;
}
@media (max-width:992px) {
    #TextoBienvenida {width: 90% !important;}
    #TextoAutos{width: 90% !important;}
}
/*PAGINA AUTOS*/
.AUTOS{
    padding: 1rem;
    background-image: url(../pages/img/BackgroundPaternCars.jpg);
}
/*PAGINA MUSICA*/
.MUSICA{
    padding: 1.5rem;
    background-image: url(../pages/img/BackgroundPaternMusic.jpg);
}
.card{
    display: flex;
    box-sizing: border-box;
    padding: 2rem;
    height:38rem ;
}
.card-img-top{
    max-height: 60% !important;
    border-radius: 0.5rem;
}
.card-text{
}