$RopaColor:#008cff;
$MusicaColor:#e4b713;
$InicioColor:#ff69b4;
$ContactoColor:#7a189b;
$AutosColor:#cd1919;
$FondoCards: white;
$Textos:black;
$sombra: 0.5rem 0.5rem 0rem black;
$SombraH: 1rem 1rem 0rem black;
#logo{
    filter: drop-shadow(-0.2rem 0.2rem 0 black);
    height: 4rem !important;
    transition: 0.2s;
    &:hover{
        filter: drop-shadow(-0.4rem 0.4rem 0 black);}}
.navbar-toggler-icon{
    filter: invert(black);}
.navbar-toggler{
    background-color: $ContactoColor !important;
    border: solid 2px $contactoBloque;
    transition: 0.2s;
    &:hover{
        background-color: $contactoBloque !important;
        box-shadow: $sombra;}}
#menu a,.navbar-nav a {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-family: "Koulen", sans-serif;}
.Inicio:hover ,.Ropa:hover, .Musica:hover, .Autos:hover,.Contacto:hover {
    scale: 1.15;
    transition: 0.2s;}
.Inicio:hover{
    color: $InicioColor !important;}
.Ropa:hover{
    color: $RopaColor !important;}
.Musica:hover{
    color: $MusicaColor !important;}
.Autos:hover{
    color: $AutosColor !important;}
.Contacto:hover{
    color: $contactoBloque !important ;}