$RopaColor:#008cff;
$MusicaColor:#e4b713;
$InicioColor:#ff69b4;
$ContactoColor:#7a189b;
$AutosColor:#cd1919;
$FondoCards: white;
$Textos:black;
$sombra: 0.5rem 0.5rem 0rem black;
$SombraH: 1rem 1rem 0rem black;
.paginaPrincipal{
    background-color: $InicioColor;
    padding: 1rem;
    .textosEnlacePaginaPrincipal{
        background-color: $FondoCards;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $sombra;
        border-radius: 1rem;
        &:hover{
            transition: box-shadow .2s;
            box-shadow: $SombraH;}
        .container{
            margin:0;
            .inicio{
                height: 40%;
                #musica{
                    background-color: $MusicaColor;}
                #ropa{
                    background-color: $RopaColor;}
                #autos{
                    background-color: $AutosColor;}
                #contacto{
                    background-color: $ContactoColor;}
                #musica ,#ropa, #autos, #contacto {
                    color: $FondoCards;
                    text-shadow: 1px 1px $Textos;
                    border: solid 2px $FondoCards ;
                    border-radius: 1rem;
                    box-shadow: $sombra;
                    padding: 2rem;
                    transition: 0.2s;
                    height: 15rem;
                    &:hover{
                        box-shadow: $SombraH;}}
                .enlace{
                    text-decoration: none;
                    p{
                        display: flex !important;
                        align-items: center;}
                    }}}
        h2{
            padding-top: 2rem ;
            color:$InicioColor !important;
            text-shadow: 0.2rem 0.2rem 0 black;
            font-family: "Koulen", sans-serif;
            font-size: 3rem !important;
            &:hover{
                transition: text-shadow 0.2s;
                text-shadow: 0.1rem 0.1rem 0 black;}}}
}